@import "../styles/colors.scss";

header {
  background-color: $white-color;
  border-bottom: 1px solid rgba($color: #dddddd, $alpha: 1);
  height: 80px;
}

section {
  background-color: $white-color;
  height: calc(100vh - 80px);
}

footer {
  background-color: $secundary-color;
  height: 100px;
}
